:root {
  --VeryDarkGrayishBlue: hsl(217, 19%, 35%);
  --DesaturatedDarkBlue: hsl(214, 17%, 51%);
  --GrayishBlue: hsl(212, 23%, 69%);
  --LightGrayishBlue: hsl(210, 46%, 95%);
  --fuente-principal: "Manrope", sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 1.3rem;
  font-family: var(--fuente-principal);
  line-height: 1.5;
  background-color: var(--LightGrayishBlue);
}

img {
  max-width: 100%;
  border-radius: 2rem 2rem 0 0;
  margin: 0;
}
@media (min-width: 765px) {
  img {
    border-radius: 2rem 0 0 2rem;
  }
}

[class*="contenedor"] {
  max-width: 120rem;
  margin: 8rem auto;
  width: 85%;
}

/* card */

.card {
  border-radius: 2rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;
}

@media (min-width: 1440px) {
  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    align-items: center;
  }
  .contenedor {
    width: 60%;
  }
}

/* card contenido */

.card__contenido {
  padding: 3rem;
  margin: 0;
}

.card__titulo {
  font-weight: 700;
  font-size: 1.6rem;
  color: var(--VeryDarkGrayishBlue);
  line-height: 2.2rem;
}

.card__texto {
  color: var(--GrayishBlue);
  font-size: 1.4rem;
}

@media (min-width: 1440px) {
  .card__titulo {
    font-size: 2.8rem;
    line-height: 3.5rem;
    margin-bottom: 1rem;
  }
  .card__texto {
    color: var(--GrayishBlue);
    font-weight: 500;
    font-size: 1.8rem;
  }
}

/* card usuario */

.card__usuario {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}

.usuario {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.img__usuario {
  border-radius: 50%;
  height: 5rem;
}

.usuario__nombre {
  margin: 0;
  font-weight: 600;
}

.usuario__fecha {
  margin: 0;
  color: var(--GrayishBlue);
}

.usuario__btn {
  background-color: var(--LightGrayishBlue);
  border: none;
  border-radius: 50%;
  height: 4rem;
  cursor: pointer;
}

/* interaccion */

.share {
  display: none;
  background-color: var(--VeryDarkGrayishBlue);
  padding: 2rem 3rem;
  border-radius: 0 0 2rem 2rem;
  margin-top: 2rem;
}

.share.active {
  display: block;
  margin: 0;
  width: 100%;
}

.card__usuario.active {
  display: none;
}

.share__ajuste {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.share__redes {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.redes a {
  margin: 0 0.4rem;
  display: inline-block;
}

.share__texto {
  color: var(--GrayishBlue);
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin-right: 1rem;
  font-weight: 900;
}

.usuario__btn-active {
  background-color: var(--GrayishBlue);
  border-radius: 50%;
  border: none;
  height: 3rem;
}

/* media queries */

@media (min-width: 1440px) {
  .card {
    position: relative;
  }

  .card__usuario.active {
    display: flex;
  }

  .usuario__btn-active {
    display: none;
  }

  .share {
    position: absolute;
    left: 72rem;
    top: 27rem;
    border-radius: 1rem;
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 75%,
      58% 76%,
      50% 90%,
      39% 76%,
      0% 75%
    );
  }

  .share__ajuste {
    position: relative;
    padding: 2rem 5rem;
    width: 120rem;
  }

  .share__redes {
    position: absolute;
    top: -1rem;
    left: -1rem;
  }

  .redes {
    display: flex;
    gap: 1rem;
  }

  .share.active {
    width: 25%;
  }
}

@media (min-width: 1920px) {
  .share {
    top: 25rem;
    left: 96.5rem;
  }
}
